@import './app/styles/variables.scss';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700;800&display=swap');
@import "../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css";

* {
    margin: 0;
    padding: 0;
}
body {
    background-color: $background-color;
    font-family: 'Montserrat', sans-serif;
    color: $primary-color;
}
h1 {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 40px;
    padding-bottom: .5em;
}
h2 {
    text-transform: uppercase;
}
h3 {

}
section {
    padding: 5em;
}
/* Animate items as they're being sorted. */
.cdk-drop-list-dragging .cdk-drag {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }
  
  /* Animate an item that has been dropped. */
  .cdk-drag-animating {
    transition: transform 300ms cubic-bezier(0, 0, 0.2, 1);
  }
  .cdk-drag-placeholder {
    opacity: 0;
}