.context-menu  {
    position:fixed;
    z-index:100;
    width:150px;
    background:#1b1a1a;
    border-radius:5px;
    transform:scale(0);
    transform-origin:top left;
    overflow: hidden;
   
}
.context-menu.active  {
    transform:scale(1);
    transition:transform 200ms ease-in-out;
}
.context-menu.remove  {
    transform:scale(0);
    transition:transform 200ms ease-in-out;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

li {
    display: flex;
    justify-content: space-between;
    padding: 6px 10px;
    border-bottom: solid 1px #dfdfdf;
    color: white;
    cursor: pointer;
    font-size: 14px;
}

li:hover {
    background:#555;
}
  
li:last-child {
    border-bottom: none;
}