@import "../../styles/variables.scss";
button {
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    width: 100%;
    padding: 10px 30px;
    cursor: pointer;
    border: none;
    border-radius: 25px;
    text-align: center;
    font-size: 18px;
    background-color: $error;
    color: white;
}