@import '../../../../styles/variables.scss';
.column-main-holder {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
    box-sizing: border-box;
    background-color: #e9ecef;
    border-radius: $border-radius;
    width: $column-width;
    height: 70vh;
    margin-right: 15px;
}
.column-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 20px ;
}
app-ticket {
    display: block;
    padding-bottom: 10px;
}
.tickets-and-add-btn {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.more-menu {
    width: 200px;
    z-index: 10;
    position: absolute;
    top: 5%;
    right: 7%;
    padding: 10px;
    background-color: white;
    border: 1px solid #cccccc;
    border-radius: 4px;

    transition: all .4s ease-in-out;
}
.menu-header span {
    display: block;
    line-height: 40px;
    text-align: center;
    color: #9e9e9e;
    margin: 0 12px;
    padding: 0 30px;
    border-bottom: 1px solid #091e4221;
}
ul {
    list-style: none;
    font-size: 14px;
    line-height: 40px;
    li {
        display: flex;
        align-items: center;
        cursor: pointer;
        padding: 6px 12px;
        img{
            width: 20px;
            padding-left: 10px;
        }
    }
}
.close-x-holder {
    text-align: end;
}
.close-x {
    cursor: pointer;
}
.drop-area {
    height: 100%;
}


