<div class="ticket-holder-main" (contextmenu)="onRightClick($event, ticketFromParent.id, ticketFromParent.columnId)">
    <p class="ticket-title">{{ticketFromParent.title}}</p>
    <small class="ticket-description">{{ticketFromParent.description}}</small>
    <p *ngIf="ticketFromParent.difficulty">difficulty: {{ticketFromParent.difficulty}}</p>
</div>

<app-modal *ngIf="modalsFromServie" (close)="modalStateGlobalService.closeModal('moveTicketModal-' + ticketFromParent.id)" (mousedown)="stopIt($event)">
    <ng-container *ngIf="boardList$ | async as boardList">
        <div class="assign-popup">
            <h3>Assign ticket to another board</h3>
            <p>Here you can select from existing boards and it's columns as the target </p>
            <form>
                <mat-form-field class="autocomplete" appearance="fill">
                  <mat-label>Board</mat-label>
                  <input type="text"
                         placeholder="Pick a board"
                         aria-label="Number"
                         matInput
                         [formControl]="selectBoardControl"
                         [matAutocomplete]="auto">
                  <mat-autocomplete #auto="matAutocomplete" (optionSelected)="onBoardSelect($event.option.value)" [displayWith]="getOptionText"> 
                    <mat-option *ngFor="let board of boardList" [value]="board" >
                      {{board.name}}
                    </mat-option>
                  </mat-autocomplete>
                </mat-form-field>
        
                <mat-form-field *ngIf="selectedBoard" class="autocomplete" appearance="fill">
                    <mat-label>Column</mat-label>
                    <input type="text"
                           placeholder="Pick a column"
                           aria-label="Number"
                           matInput
                           [formControl]="selectColumnControl"
                           [matAutocomplete]="auto">
                    <mat-autocomplete #auto="matAutocomplete" [displayWith]="getOptionText">
                        
                      <mat-option *ngFor="let column of selectedBoard.columnList" [value]="column">
                        {{column.name}}
                      </mat-option>
                    </mat-autocomplete>
                  </mat-form-field>
              </form>
              <div class="buttons-holder">
                <app-ui-button (clickEmitter)="modalStateGlobalService.closeModal('moveTicketModal-' + ticketFromParent.id)">
                    Cancel
                </app-ui-button>
                <app-ui-button (clickEmitter)="callMoveTicket()" [disabled]="!moveTicketForm.valid">
                    Move Ticket
                </app-ui-button>
              </div>
        </div>
    </ng-container>
</app-modal>