<div class="input-name">{{inputName}}</div>
<div *ngIf="inputInfo" class="input-info">{{inputInfo}}</div>
<form autocomplete="off">
    <input
    autocomplete="off"
    type="text"
    [formControl]="fc"
    placeholder="{{placeholder}}"
    [class.input-error]="isFormControlInvalid"
    [class.input-disabled]="isInputDisabled"
/>
</form>
<div *ngIf="isFormControlInvalid" class="error-container">
    <div class="error-message" *ngIf="isFormControlInvalid">{{ returnErrorMsg }}</div>
    <div class="error-message"><div *ngFor="let err of serverErrorDictionaryKeys"> {{serverErrorDictionary[err]}}</div></div> 
</div>


